trigger: none
pool:
  name: self-hosted-test

steps:
- script: |
    RESPONSE=$(curl -X POST \
      https://auto-rec-test-dhekgyd5afaxgqbk.westeurope-01.azurewebsites.net/api/list-storages \
      -H "Content-Type: application/json" \
      -d '{"subscriptions": ["3d2daa56-667a-45ee-8bef-31f8e40057b2"]}')

    echo "Function said: $RESPONSE"
  displayName: 'Trigger storage list function'